 #title{
   font-family: "Radio Canada Big", sans-serif;
   border-radius: 0px 0px 360px 0px;
 }
 #vd{
   border-radius: 18px;
  }
 #vd video{
   border-radius: 15px;
 }
  #more{
    display: none;
    font-size: 16.5px;
    font-family: "Nunito", sans-serif;
  }
  #contact{
    font-size: 1.05em;
  }
  
  #drawer {
    font-family: "Nunito", sans-serif;
    height: 100%;
    width: 75%;
    position: fixed;
    top: 0;
    left: -75%;
    overflow-x: hidden;
    transition: 0.9s;
    padding: 16px;
    z-index: 1000;
}
#drawer nav ul {
    list-style-type: none;
    padding: 0;
}
#drawer nav ul li {
    margin: 15px 0;
}

#drawer nav ul li a {
    color: white;
    text-decoration: none;
}
#open{
  transform: rotate(360deg);
  transition: 0.5s ease-in 0s;
}
#drawer #logo{
  width: 50%;
  height: 50%;
}
#drawer #contact{
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #000;
}
#drawer #about{
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #000;
}
#hideVd p{
  font-family: "Ubuntu", sans-serif;
  font-size: 16.5px;
}
#hideVd #seeicon{
  font-size: 25px;
}
#hideVd #seebtn{
  font-family: "Nunito", sans-serif;
  font-size: 15.5px;
}
